<strong> Register on Eventbrite
<div><strong>  DAY 1: FOR BEGINNERS: Tidy Data and Basics of the UNIX SHELL. <a href="https://www.eventbrite.com/e/1133061691019">https://www.eventbrite.com/e/1133061691019</a></div>
<strong> <div> DAY 2: FOR EVERYONE: OpenRefine. <a href="https://www.eventbrite.com/e/1133564705549">https://www.eventbrite.com/e/1133564705549</a>  </div>
<strong> <div> DAY 3: MORE ADVANCED: Python from the beginning. <a href="https://www.eventbrite.com/e/1133647904399">www.eventbrite.com/e/1133647904399</a>  </div>

<div class="row">
  <div class="col-md-3">
    <h3>Day 1: January 29, 2025</h3>
    <table class="table table-striped">
      <tr> <td>FOR BEGINNERS</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a></td> </tr>>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Day 2: January 30, 2025</h3>
    <table class="table table-striped">
      <tr> <td>FOR EVERYONE</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Day 3: January 31, 2025</h3>
    <table class="table table-striped">
      <tr> <td>MORE ADVANCED</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-python-intro/">Introduction to Python</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
