<div class="row">
  <div class="col-md-6">
    <h3>Day 1: January 22, 2025</h3>
    <table class="table table-striped">
      <tr> <td>FOR BEGINNERS
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-overview/">Jargon Busting, A Computational Approach, Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a></td> </tr>>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: January 23, 2025</h3>
    <table class="table table-striped">
      <tr> <td>FOR EVERYONE
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: January 24, 2025</h3>
    <table class="table table-striped">
      <tr> <td>ADVANCED
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-python-intro/">Introduction to Python</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
